%h1 Listing tickets

%table
  %tr
    %th Reference
    %th Name
    %th Email
    %th Subject
    %th Body
    %th Department

  - @tickets.each do |ticket|
    %tr
      %td= ticket.reference
      %td= ticket.name
      %td= ticket.email
      %td= ticket.subject
      %td= ticket.body
      %td= ticket.department.name
      %td= link_to 'Reply', reply_ticket_path(ticket)
      %td= link_to 'Destroy', ticket, :method => :delete, :data => { :confirm => 'Are you sure?' }

%br

= link_to 'New Ticket', new_ticket_path
